@font-face 
    font-family Roboto
    src url('./font/Roboto-Thin.ttf')

body
    background-color #2B2E3A
    color #74b1be
    font-family Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif
.main
    text-align center
    >h1
        margin 2rem 0rem
        font-weight bolder 
        color #9FEAF9
        font-size 2.8em

div
    >h3
        margin 2rem 0rem

a
    color #9FEAF9

.icon
    max-width 300px
    margin 2rem 0rem 0rem 0rem

.banner
    background-color #1A1B23
    padding 1rem 0rem